/** Colors
Maroon - #541526;
Antique White - #E8DCC6;
Medium Gray - #D1D1D1;

**/

/** Fonts
font-family: 'Yellowtail', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Slabo 27px', serif;
font-family: 'Pacifico', cursive;
font-family: 'Crete Round', serif;
font-family: 'Boogaloo', cursive;
font-family: 'Lobster Two', cursive;

**/


/*** sectioning elements ***/

body {

}

header {
  background-color: #541526;
  margin: 0;
  font-size: 60px;
  text-align: center;
}

main {

}

footer {
  background-color: #541526;
}

nav {

}

section {

}

aside {

}


/**** content styles ***/

h1 {
  color: #ffffff;
  margin: 0;
  font-family: 'Lobster Two', cursive;
}

h2 {
  color: #ffffff;
  font-size: 26px;
  font-family: 'Crete Round', serif;
  margin: 0;
}

h3 {
  color: #D1D1D1;
  text-align: center;
  font-size: 26px;
  font-family: 'Crete Round', serif;
  margin: 0;
}

h4 {

}

h5 {

}

h6 {

}

p {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  font-family: 'Crete Round', serif;
  margin: 0;
}

p.header {
  color: #ffffff;
  font-size: 15px;
  text-align: right;
  font-family: 'Crete Round', serif;
  margin: 0;
}

p.footer {
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  margin: 0;
}

blockquote {

}

ol {

}

ul {

}

li {

}

table {
margin-left: auto;
margin-right: auto;
}

tr {

}

th {

}

td {

}

.dot {
    height: 6px;
    width: 6px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
}

/*** image styles ***/

img  {

}


/*** video styles ***/
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;

  /*  min-width: 100%;
    min-height: 100%; */
}

/*** link styles ***/

a:link {
color: #fff;
}

a:visited {
color: #fff;
}

a:hover {
color: #D1D1D1;
}

a:active {
color: #000;
}


a.directory:link{
color: #000;
}

a.directory:visited {
color: #000;
}

a.directory:hover {
color: #000;
}

a.directory:active {
color: #000;
}

/*** nav styles ***/

.navbar {
     background-color: #E8DCC6;
   }

   .navbar-brand {
     color: #541526;
   }

   .navbar-brand a:link,
   .navbar-brand a:visited {
color: #541526;
   }

   .navbar-brand a:hover,
   .navbar-brand a:active {
color: #541526;
   }

   .navbar-menu a:link,
   .navbar-menu a:visited {
     color: #541526;
   }

   .navbar-menu a:hover,
   .navbar-menu a:active {
     color: #541526;
   }

/** parallax **/

div.parallax {
    background-image: url("img/dummy.png");

    height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/** Hover Animations **/

/** Grow Rotate **/
.hvr-grow-rotate {
        backface-visibility: hidden;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        display: inline-block;
        transform: translateZ(0px);
        transition-duration: 0.3s;
        transition-property: transform;
        vertical-align: middle;
        color: #D1D1D1;
    }
    .hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
        transform: scale(1.1) rotate(6deg);
        color: #FF0000;
    }


/** Float **/
    .hvr-float {
            backface-visibility: hidden;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            display: inline-block;
            transform: translateZ(0px);
            transition-duration: 0.3s;
            transition-property: transform;
            transition-timing-function: ease-out;
            vertical-align: middle;
            align-items:flex-start;
            color: #D1D1D1;

        }
        .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
            transform: translateY(-8px);
        }
